Source: thailatex
Section: tex
Priority: optional
Maintainer: Chanop Silpa-Anan <chanop@debian.org>
Build-Depends: debhelper, tetex-bin
Standards-Version: 3.5.2

Package: thailatex
Architecture: all 
Recommends: swath|cttex
Depends: tetex-bin, tetex-base, debianutils (>=1.15)
Description: Thai Latex package
 This package provides Thai language add-on for Latex. It is based on 
 babel package which should come with tetex distribution.
 .
 This package needs Thai words separator such as cttex and swath, in
 order for latex to be able to break sentences.
